.f-container {
  width: 100%;
}

.f-row {
  margin-left: -10px;
  margin-right: -10px;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
.col {
  height: 50px;
  border: 1px solid #999;
  background-color: #eee;
  text-align: center;
  line-height: 50px;
}


